svg#logo-kadince {
  fill: #555;
  height: 40px;
  width: 143.5px;
}

.navbar {
  background-color: white;
  box-shadow: #ddd 0px 0px 3px 3px;
}

.navbar-light .navbar-brand {
  color: #212529 !important;
}
